{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<main class="main">
    <div class="main__container">
        <div class="news__title">
            <h1 class="title__caption">{{ article.title }}</h1>
            <h2 class="title__quote">За словами пілота команди Williams Алекса Албона, на початку сезону Формули-1 2023 року Williams зробила другий за величиною крок уперед за продуктивністю автомобілів, поступившись лише Aston Martin.</h2>
        </div>
        <div class="news__content">
            <div class="content__main">
                <img src="{{ article. }}" alt="alboncar" class="content__img">
                <div class="content__text">
                    <p class="text__abz">У 2022 році екіпаж з Гроу боровся з революцією правил приземлення, оскільки йому не вистачало притискної сили і він страждав від поганого балансу на низьких швидкостях.</p>
                    <p class="text__abz">Це призвело до того, що команда посіла дев'яте місце в чемпіонаті конструкторів, маючи лише вісім очок, порівняно з 35 у наступної за нею AlphaTauri, яка посіла дев'яте місце.</p>
                    <p class="text__abz">Але новий FW45 виявився більш стабільним і дозволив Албону заробити 10 очок на відкритті сезону в Бахрейні, в той час як новачок команди Логан Сарджент був вражений 12-м місцем.</p>
                    <p class="text__abz">Цей крок вперед, коли Сарджент також показав сьомий найшвидший темп гонки, дозволив Албону похвалити Williams за успіхи, досягнуті взимку, поступившись лише Aston Martin, який піднявся на подіум завдяки Фернандо Алонсо, що посів третє місце.</p>
                    <p class="text__abz">Англо-тайський гонщик сказав: "Ми працювали з низькою притискною силою, що було ще складніше. Тож, маючи такий темп, який ми мали за таких обставин, я маю сказати, що я дуже пишаюся.</p>
                    <p class="text__abz">"Я впевнений, що всі дивляться на Aston Martin на подіумі і думають, який крок вони зробили. Але ми другі.</p>
                    <p class="text__abz">"Якщо порівнювати нас з минулим роком і цим роком на цій позиції, 12 місяців тому, то мушу сказати, що ми проробили дивовижну роботу. Звичайно, ми були надійними, що допомагає. Але ми здобули очки в першій же гонці".</p>
                </div>
                <img src="../../../main/static/main/img/news_img/big/alex-albon-williams-racing-1-transformed%201.png" alt="alex-albon-williams-racing-1-transformed" class="content__img">
                <div class="content__text">
                    <p class="text__abz">Новий керівник команди Джеймс Воулз вже заявив, що Williams готова пожертвувати розробкою боліда 2023 року заради довгострокового успіху.</p>
                    <p class="text__abz">Але Албон все ще вважає, що FW45 може набирати очки більш регулярно, ніж його попередник, який робив це п'ять разів: "Я вірю в це. Я б не сказав так, коли входив у [Бахрейн], але після, хто знає, що буде далі.</p>
                    <p class="text__abz">"Ми кваліфікувалися не на своєму місці. На мою думку, ми повинні були кваліфікуватися вище. Це зробило б нашу гонку набагато простішою. Але це прогрес.</p>
                    <p class="text__abz">"Я не хочу бути надмірно оптимістичним, але з іншого боку, я знаю, що у нас є деякі речі на наступні кілька гонок, які можуть дійсно підштовхнути нас вперед".</p>
                    <p class="text__abz">Екс-пілот Red Bull F1 Албон також вважає, що команда вже знає, на яких ділянках слід зосередитися, щоб отримати негайний виграш у часі проходження кола, якщо вона продовжить розробку FW45.</p>
                    <p class="text__abz">Він сказав: "Нам потрібно оцінити наші слабкі сторони, це головне. Ми знаємо, що стосується рівня притискної сили, де у нас є переваги.</p>
                    <p class="text__abz">"У нас трохи інший характер, ніж у більшості людей - ми слизькі на прямих і менш швидкі в поворотах. Але ми змушуємо це працювати, і я думаю, що зараз ми повинні робити те, що добре для нашого боліда.</p>
                    <p class="text__abz">"Нам все ще потрібно вирішити деякі характерні проблеми - це займе, можливо, трохи більше часу.</p>
                    <p class="text__abz">"Але поки що, в короткостроковій перспективі, ми знаємо, де ми можемо покращитися. Це час проходження кола. Ми швидкі та стабільні".</p>
                </div>
            </div>
            <div class="content__links">
                <h3 class="links__caption">Читати також:</h3>
                <a href="example.html" class="link">Mercedes обіцяє не "показувати пальцем", незважаючи на шкоду, заподіяну формі Формули-1</a>
                <a href="example.html" class="link">Баттон: Ф1-2023 не буде "прогулянкою в парку" для Ферстаппена і Red Bull</a>
                <a href="example.html" class="link">Alpine "не знає справжнього темпу" після неспокійного уїк-енду Формули-1 в Бахрейні</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}