{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<main class="main">
    <div class="main__container">
        <div class="news__title">
            <h1 class="title__caption">{{ article.title }}</h1>
            <h2 class="title__quote">За словами пілота команди Williams Алекса Албона, на початку сезону Формули-1 2023 року Williams зробила другий за величиною крок уперед за продуктивністю автомобілів, поступившись лише Aston Martin.</h2>
        </div>
        <div class="news__content">
            <div class="content__main">
                <img src="{{ article.photolink_1.url }}" alt="article-img-1" class="content__img">
                <div class="content__text">
                    <p>{{ first_half_text }}</p>
                </div>
                <img src="{{ article.photolink_2.url }}" alt="article-img-1" class="content__img">
                <div class="content__text">
                    <p>{{ second_half_text }}</p>
                </div>
            </div>
            <div class="content__links">
                <h3 class="links__caption">Читати також:</h3>
                <a href="{% url 'news-detail' article.id %}" class="link">Mercedes обіцяє не "показувати пальцем", незважаючи на шкоду, заподіяну формі Формули-1</a>
                <a href="{% url 'news-detail' article.id %}" class="link">Баттон: Ф1-2023 не буде "прогулянкою в парку" для Ферстаппена і Red Bull</a>
                <a href="{% url 'news-detail' article.id %}" class="link">Alpine "не знає справжнього темпу" після неспокійного уїк-енду Формули-1 в Бахрейні</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}