{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
        <main>
            <div class="main__container">
                <div class="news">
                    <h1 class="news__heading">Новини Формули-1</h1>
                    {% for el in news_arr %}
                    <div class="news__block__main">
                        <img src="{{ el.photolink_1.url }}" alt="" class="news__img__main">
                        <a href="" class="news__caption__main">{{ el.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
{% endblock %}