{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<main class="main">
    <div class="main__container">
        <div class="news">
            <h1 class="news__heading">Новини Формули-1</h1>
            <div class="first__line">
                <div class="news__block1">
                    <img src="../../static/main/img/news_img/aston.png" alt="aston" class="news__img1">
                    <a href="example.html" class="news__caption1">Чому Aston Martin стикається з тією ж перешкодою, що й McLaren F1, у своєму прагненні вирватися вперед</a>
                </div>
                <div class="news__block2">
                    <img src="../../static/main/img/news_img/pirelly.png" alt="pirelli" class="news__img2">
                    <a href="example.html" class="news__caption2">Pirelli представляє нову мокру шину для Формули-1, яка не потребує чохлів</a>
                </div>
            </div>
            <div class="second__line">
                <div class="news__block__special">
                    <img src="../../static/main/img/news_img/pirelly.png" alt="pirelli" class="news__img__special">
                    <a href="example.html" class="news__caption__special">Pirelli представляє нову мокру шину для Формули-1, яка не потребує чохлів</a>
                </div>
                <div class="news__block">
                    <img src="../../static/main/img/news_img/drs.png" alt="drs" class="news__img">
                    <a href="example.html" class="news__caption">FIA оголосила про зміни DRS на п'яти трасах Формули-1 у 2023 році</a>
                </div>
                <div class="news__block">
                    <img src="../../static/main/img/news_img/sainz.png" alt="sainz" class="news__img">
                    <a href="example.html" class="news__caption">Сайнс вважає, що "не був готовий" боротися за титул чемпіона Формули-1 у 2022 році</a>
                </div>
                <div class="news__block">
                    <img src="../../static/main/img/news_img/druguvich.png" alt="druguvich" class="news__img">
                    <a href="example.html" class="news__caption">Другович замінить травмованого Стролла на тестах Формули-1 в Бахрейні</a>
                </div>
            </div>
        </div>
        <div class="teams">
            <h1 class="teams__heading">Команди</h1>
            <div class="team__line">
                <div class="team__card">
                    <img src="../../static/main/img/teams/redbull.png" alt="redbull" class="team__img">
                    <h3 class="team__name">Red Bull</h3>
                </div>
                <div class="team__card">
                    <img src="../../static/main/img/teams/ferrari.png" alt="ferrari" class="team__img">
                    <h3 class="team__name">Ferrari</h3>
                </div>
                <div class="team__card">
                    <img src="../../static/main/img/teams/mercedes.png" alt="mercedes" class="team__img">
                    <h3 class="team__name">Mercedes</h3>
                </div>
                <div class="team__card">
                    <img src="../../static/main/img/teams/alpine.png" alt="alpine" class="team__img">
                    <h3 class="team__name">Alpine</h3>
                </div>
            </div>
            <button class="button"><a href="/teams" class="button__link">Усі команди</a></button>
        </div>
        <div class="drivers">
            <h1 class="drivers__heading">Водії</h1>
            <div class="driver__line">
                <div class="driver__card">
                    <img src="../../static/main/img/drivers/verstappen.png" alt="verstappen" class="driver__img">
                    <h3 class="driver__name">Макс Ферстаппен</h3>
                    <h4 class="driver__team">Red Bull</h4>
                </div>
                <div class="driver__card">
                    <img src="../../static/main/img/drivers/leclerc.png" alt="leclerc" class="driver__img">
                    <h3 class="driver__name">Шарль Леклер</h3>
                    <h4 class="driver__team">Ferrari</h4>
                </div>
                <div class="driver__card">
                    <img src="../../static/main/img/drivers/russel.png" alt="russel" class="driver__img">
                    <h3 class="driver__name">Джордж Рассел</h3>
                    <h4 class="driver__team">Mercedes</h4>
                </div>
                <div class="driver__card">
                    <img src="../../static/main/img/drivers/ocon.png" alt="ocon" class="driver__img">
                    <h3 class="driver__name">Естебан Окон</h3>
                    <h4 class="driver__team">Alpine</h4>
                </div>
            </div>
            <button class="button"><a href="/drivers" class="button__link">Усі водії</a></button>
        </div>
        <div class="schedule">
            <h1 class="schedule__name">Розклад чемпіонату Формули-1</h1>
            <div class="schedule__box">
                <div class="item__shadow">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/bahrain.svg" alt="bahrain" class="flag">
                        <div class="gp__name">Гран-прі Бахрейну</div>
                    </div>
                    <div class="gp__time">2 бер - 5 бер </div>
                </div>
                <div class="item__light">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/saudi.svg" alt="saudi" class="flag">
                        <div class="gp__name">Гран-прі Cаудівської аравії</div>
                    </div>
                    <div class="gp__time">16 бер - 19 бер </div>
                </div>
                <div class="item__shadow">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/astralia.svg" alt="astralia" class="flag">
                        <div class="gp__name">Гран-прі Австралії</div>
                    </div>
                    <div class="gp__time">30 бер - 2 квіт</div>
                </div>
                <div class="item__light">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/ayerbg.svg" alt="ayerbg" class="flag">
                        <div class="gp__name">Гран-прі Азербайджану</div>
                    </div>
                    <div class="gp__time">27 квіт - 30 квіт</div>
                </div>
                <div class="item__shadow">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/us.svg" alt="us" class="flag">
                        <div class="gp__name">Гран-прі Маямі</div>
                    </div>
                    <div class="gp__time">4 трав - 7 трав</div>
                </div>
                <div class="item__light">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/italy.svg" alt="italy" class="flag">
                        <div class="gp__name">Гран-прі Емілії Романії</div>
                    </div>
                    <div class="gp__time">18 трав - 21 трав</div>
                </div>
                <div class="item__shadow">
                    <div class="flag__name">
                        <img src="../../static/main/img/flags/monako.svg" alt="monako" class="flag">
                        <div class="gp__name">Гран-прі Монако</div>
                    </div>
                    <div class="gp__time">25 трав - 28 трав</div>
                </div>
            </div>
            <button class="button"><a href="/schedule" class="button__link">Дивитись повний розкдад</a></button>
        </div>
    </div>
    <div class="standings">
        <div class="standings__container">
            <h1 class="standings__heading">Турнірна таблиця</h1>
            <div class="tabs">
                <div class="tabs-triggers">
                    <a href="#tab-1" class="tabs-triggers__item">Водії</a>
                    <a href="#tab-2" class="tabs-triggers__item">Команди</a>
                </div>
                <div class="tabs-content">
                    <div id="tab-1" class="tabs-content__item">
                        <div class="content__item__dark">
                            <div class="place">Maкс Ферстаппен</div>
                            <div class="points">69 очок</div>
                        </div>
                        <div class="content__item__light">
                            <div class="place">Серхіо Перес</div>
                            <div class="points">54 очок</div>
                        </div>
                        <div class="content__item__dark">
                            <div class="place">Фернандо Алонсо</div>
                            <div class="points">45 очок</div>
                        </div>
                    </div>
                    <div id="tab-2" class="tabs-content__item">
                        <div class="content__item__dark">
                            <div class="place">Red Bull Racing</div>
                            <div class="points">123 очка</div>
                        </div>
                        <div class="content__item__light">
                            <div class="place">Aston Martin Racing</div>
                            <div class="points">65 очок</div>
                        </div>
                        <div class="content__item__dark">
                            <div class="place">Mercedes</div>
                            <div class="points">56 очок</div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="button"><a href="/standings" class="button__link">Дивитись повністю</a></button>
        </div>
</main>
{% endblock %}