<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/main/css/style.css">
    <title>F1newsua</title>
</head>
<body>
    <div class="wrapper">
        <header id="open" class="header">
            <div id="close" class="header__container">
                <a href="#open" class="icon-menu"><span></span></a>
                <a href="#close" class="close-icon-menu"></a>
                <a href="index.html" class="header__logo">
                    <img src="../../static/main/img/logo.svg" alt="logo">
                </a>
                <div class="header__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item"><a href="news.html" class="menu__link">НОВИНИ</a></li>
                            <li class="menu__item"><a href="schedule.html" class="menu__link">РОЗКЛАД</a></li>
                            <li class="menu__item"><a href="teams.html" class="menu__link">КОМАНДИ</a></li>
                            <li class="menu__item"><a href="drivers.html" class="menu__link">ВОДІЇ</a></li>
                            <li class="menu__item"><a href="standings.html" class="menu__link">ТУРНІРНА ТАБЛИЦЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="subscribe.html" class="header__subscribe">
                    <img src="../../static/main/img/subscribe.svg" alt="subscribe">
                </a>
            </div>
        </header>
        <main>
            <div class="main__container">
                <div class="news">
                    <h1 class="news__heading">Новини Формули-1</h1>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/wiliams_1sec.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Після зими Вільямс Ф1 поступається Астон мартін лише секундою - Албон</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/mercs_123.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Mercedes обіцяє не "показувати пальцем", незважаючи на шкоду, заподіяну формі Формули-1</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/red_bull_button.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Баттон: Ф1-2023 не буде "прогулянкою в парку" для Ферстаппена і Red Bull</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/historic.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Рейтинг! 10 найкращих довоєнних автомобілів Гран-прі</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/ver_challenge.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Ферстаппен скептично ставиться до випробувань у форматі кваліфікації Ф1</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/Alfa_flour.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Таємнича стартова підлога Alfa Romeo F1 2023 виявилася повною підробкою</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/Alpine_tru_temp.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Alpine "не знає справжнього темпу" після неспокійного уїк-енду Формули-1 в Бахрейні</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/mclaren_new_aero.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">McLaren призначив червневу дату для використання нової аеродинамічної труби F1</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/ferrari_rear_wing.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Ferrari наполягатиме на "складному" одноопорному задньому антикрилі Формули-1</a>
                    </div>
                    <div class="news__block__main">
                        <img src="../../static/main/img/news_img/aston_red_bull.png" alt="" class="news__img__main">
                        <a href="example.html" class="news__caption__main">Aston Martin: Відставання Формули-1 від Red Bull після подіуму в Бахрейні "все ще значне"</a>
                    </div> 
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__bar">
                    <img src="/main/img/logo.svg" alt="logo" class="footer__logo">
                    <div class="footer__menu">
                        <a href="news.html" class="menu__link">НОВИНИ</a>
                        <a href="schedule.html" class="menu__link">РОЗКЛАД</a>
                        <a href="teams.html" class="menu__link">КОМАНДИ</a>
                        <a href="drivers.html" class="menu__link">ВОДІЇ</a>
                        <a href="standings.html" class="menu__link">ТУРНІРНА ТАБЛИЦЯ</a>
                        <a href="" class="menu__link">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
                    </div>
                </div>
                <div class="footer__policy"><span class="footer__text">This website is not associated in any way with the Formula 1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP,GRAND PRIX and related marks are trade marks of Formula One Licensing B.V. FOR EDUCATIONAL PURPOSES ONLY 
                </span></div>
            </div>
        </footer>
    </div>
    <script src="../../static/main/js/script.js"></script>
</body>
</html>