{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>F1newsua</title>
</head>
<body>
    <div class="wrapper">
        <header id="open" class="header">
            <div id="close" class="header__container">
                <a href="#open" class="icon-menu"><span></span></a>
                <a href="#close" class="close-icon-menu"></a>
                <a href="index.html" class="header__logo">
                    <img src="../../static/main/img/logo.svg" alt="logo">
                </a>
                <div class="header__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item"><a href="news.html" class="menu__link">НОВИНИ</a></li>
                            <li class="menu__item"><a href="schedule.html" class="menu__link">РОЗКЛАД</a></li>
                            <li class="menu__item"><a href="teams.html" class="menu__link">КОМАНДИ</a></li>
                            <li class="menu__item"><a href="drivers.html" class="menu__link">ВОДІЇ</a></li>
                            <li class="menu__item"><a href="standings.html" class="menu__link">ТУРНІРНА ТАБЛИЦЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="subscribe.html" class="header__subscribe">
                    <img src="../../static/main/img/subscribe.svg" alt="subscribe">
                </a>
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <div class="schedule">
                    <h1 class="schedule__name">Розклад чемпіонату Формули-1</h1>
                    <div class="schedule__box">
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/bahrain.svg" alt="bahrain" class="flag">
                                <div class="gp__name">Гран-прі Бахрейну</div>
                            </div>    
                            <div class="gp__time">2 бер - 5 бер </div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/saudi.svg" alt="saudi" class="flag">
                                <div class="gp__name">Гран-прі Cаудівської аравії</div>
                            </div>
                            <div class="gp__time">16 бер - 19 бер </div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/astralia.svg" alt="astralia" class="flag">
                                <div class="gp__name">Гран-прі Австралії</div>
                            </div>
                            <div class="gp__time">30 бер - 2 квіт</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/ayerbg.svg" alt="ayerbg" class="flag">
                                <div class="gp__name">Гран-прі Азербайджану</div>
                            </div>
                            <div class="gp__time">27 квіт - 30 квіт</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/us.svg" alt="us" class="flag">
                                <div class="gp__name">Гран-прі Маямі</div>
                            </div>
                            <div class="gp__time">4 трав - 7 трав</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/italy.svg" alt="italy" class="flag">
                                <div class="gp__name">Гран-прі Емілії Романії</div>
                            </div>
                            <div class="gp__time">18 трав - 21 трав</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/monako.svg" alt="monako" class="flag">
                                <div class="gp__name">Гран-прі Монако</div>
                            </div>
                            <div class="gp__time">25 трав - 28 трав</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/spain.svg" alt="spain" class="flag">
                                <div class="gp__name">Гран-прі Іспанії</div>
                            </div>
                            <div class="gp__time">2 чер - 4 чер </div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/canada.svg" alt="canada" class="flag">
                                <div class="gp__name">Гран-прі Канади</div>
                            </div>
                            <div class="gp__time">16 чер - 18 чер</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Austria.svg" alt="Austria" class="flag">
                                <div class="gp__name">Гран-прі Австрії</div>
                            </div>
                            <div class="gp__time">30 чер - 2 лип</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/GB.svg" alt="GB" class="flag">
                                <div class="gp__name">Гран-прі Великої Британії</div>
                            </div>
                            <div class="gp__time">7 лип- 9 лип</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/hungarz.svg" alt="hungarz" class="flag">
                                <div class="gp__name">Гран-прі Угорщини</div>
                            </div>
                            <div class="gp__time">21 лип - 23 лип</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Belgium.svg" alt="Belgium" class="flag">
                                <div class="gp__name">Гран-прі Бельгії</div>
                            </div>
                            <div class="gp__time">28 лип - 30 лип</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Netherlands.svg" alt="Netherlands" class="flag">
                                <div class="gp__name">Гран-прі Нідерландів</div>
                            </div>
                            <div class="gp__time">25 сер - 27 сер</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/italy.svg" alt="italy" class="flag">
                                <div class="gp__name">Гран-прі Італії</div>
                            </div>
                            <div class="gp__time">1 вер - 3 вер</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Singapore.svg" alt="Singapore" class="flag">
                                <div class="gp__name">Гран-прі Сінгапуру</div>
                            </div>
                            <div class="gp__time">15 вер - 17 вер</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Japan.svg" alt="Japan" class="flag">
                                <div class="gp__name">Гран-прі Японії</div>
                            </div>
                            <div class="gp__time">22 вер - 24 вер</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Qatar.svg" alt="Qatar" class="flag">
                                <div class="gp__name">Гран-прі Катару</div>
                            </div>
                            <div class="gp__time">6 жов - 8 жов</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/us.svg" alt="us" class="flag">
                                <div class="gp__name">Гран-прі США</div>
                            </div>
                            <div class="gp__time">20 жов - 22 жов</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Mexico.svg" alt="Mexico" class="flag">
                                <div class="gp__name">Гран-прі Мексики</div>
                            </div>
                            <div class="gp__time">27 жов - 29 жов</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/Brazil.svg" alt="Brazil" class="flag">
                                <div class="gp__name">Гран-прі Бразилії</div>
                            </div>
                            <div class="gp__time">3 лис - 5 лис</div>
                        </div>
                        <div class="item__light">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/us.svg" alt="us" class="flag">
                                <div class="gp__name">Гран-прі Лас-Вегасу</div>
                            </div>
                            <div class="gp__time">16 лис - 18 лис</div>
                        </div>
                        <div class="item__shadow">
                            <div class="flag__name">
                                <img src="../../static/main/img/flags/UAE.svg" alt="UAE" class="flag">
                                <div class="gp__name">Гран-прі Абу-Дабі</div>
                            </div>
                            <div class="gp__time">24 лис - 26 лис</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__bar">
                    <img src="/main/img/logo.svg" alt="logo" class="footer__logo">
                    <div class="footer__menu">
                        <a href="news.html" class="menu__link">НОВИНИ</a>
                        <a href="schedule.html" class="menu__link">РОЗКЛАД</a>
                        <a href="teams.html" class="menu__link">КОМАНДИ</a>
                        <a href="drivers.html" class="menu__link">ВОДІЇ</a>
                        <a href="standings.html" class="menu__link">ТУРНІРНА ТАБЛИЦЯ</a>
                        <a href="" class="menu__link">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
                    </div>
                </div>
                <div class="footer__policy"><span class="footer__text">This website is not associated in any way with the Formula 1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP,GRAND PRIX and related marks are trade marks of Formula One Licensing B.V. FOR EDUCATIONAL PURPOSES ONLY 
                </span></div>
            </div>
        </footer>
    </div>
    <script src="../../static/main/js/script.js"></script>
</body>
</html>