{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>F1newsua</title>
</head>
<body>
    <div class="wrapper">
        <header id="open" class="header">
            <div id="close" class="header__container">
                <a href="#open" class="icon-menu"><span></span></a>
                <a href="#close" class="close-icon-menu"></a>
                <a href="index.html" class="header__logo">
                    <img src="../../static/main/img/logo.svg" alt="logo">
                </a>
                <div class="header__menu menu">
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item"><a href="news.html" class="menu__link">НОВИНИ</a></li>
                            <li class="menu__item"><a href="schedule.html" class="menu__link">РОЗКЛАД</a></li>
                            <li class="menu__item"><a href="teams.html" class="menu__link">КОМАНДИ</a></li>
                            <li class="menu__item"><a href="drivers.html" class="menu__link">ВОДІЇ</a></li>
                            <li class="menu__item"><a href="standings.html" class="menu__link">ТУРНІРНА ТАБЛИЦЯ</a></li>
                        </ul>
                    </nav>
                </div>
                <a href="subscribe.html" class="header__subscribe">
                    <img src="../../static/main/img/subscribe.svg" alt="subscribe">
                </a>
            </div>
        </header>
        <main class="main">
            <div class="main__container">
                <h1 class="standings__heading">Турнірна таблиця</h1>
                <div class="tabs">
                    <div class="tabs-triggers">
                        <a href="#tab-1" class="tabs-triggers__item">Водії</a>
                        <a href="#tab-2" class="tabs-triggers__item">Команди</a>
                    </div>
                    <div class="tabs-content">
                        <div id="tab-1" class="tabs-content__item">
                            <div class="content__item__dark">
                                <div class="place">Maкс Ферстаппен</div>
                                <div class="points">69 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Серхіо Перес</div>
                                <div class="points">54 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Фернандо Алонсо</div>
                                <div class="points">45 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Льюіс Хемільтон</div>
                                <div class="points">38 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Карлос Сайнс</div>
                                <div class="points">20 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Ленс Стролл</div>
                                <div class="points">20 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Джордж Рассел</div>
                                <div class="points">18 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Ландо Норріс</div>
                                <div class="points">8 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Ніко Хулькенберг</div>
                                <div class="points">6 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Шарль Леклер</div>
                                <div class="points">6 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Валтері Боттас</div>
                                <div class="points">4 очка</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Естебан Окон</div>
                                <div class="points">4 очка</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Оскар Піастрі</div>
                                <div class="points">4 очка</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">П'єр Гаслі</div>
                                <div class="points">4 очка</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Джоу Гуанью</div>
                                <div class="points">2 очка</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Юкі Цунода</div>
                                <div class="points">1 очко</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Кевін Магнусен</div>
                                <div class="points">1 очко</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Алекс Албон</div>
                                <div class="points">1 очко</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Логан Саржент</div>
                                <div class="points">0 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Нік Де Вріз</div>
                                <div class="points">0 очок</div>
                            </div>
                        </div>
                        <div id="tab-2" class="tabs-content__item">
                            <div class="content__item__dark">
                                <div class="place">Red Bull Racing</div>
                                <div class="points">123 очка</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Aston Martin Racing</div>
                                <div class="points">65 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Mercedes</div>
                                <div class="points">56 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Ferrari</div>
                                <div class="points">26 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">McLaren</div>
                                <div class="points">12 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Alpine</div>
                                <div class="points">8 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">Haas F1 Team</div>
                                <div class="points">7 очок</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Alfa Romeo</div>
                                <div class="points">6 очок</div>
                            </div>
                            <div class="content__item__dark">
                                <div class="place">AlphaTauri</div>
                                <div class="points">1 очко</div>
                            </div>
                            <div class="content__item__light">
                                <div class="place">Williams</div>
                                <div class="points">1 очко</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__bar">
                    <img src="/main/img/logo.svg" alt="logo" class="footer__logo">
                    <div class="footer__menu">
                        <a href="news.html" class="menu__link">НОВИНИ</a>
                        <a href="schedule.html" class="menu__link">РОЗКЛАД</a>
                        <a href="teams.html" class="menu__link">КОМАНДИ</a>
                        <a href="drivers.html" class="menu__link">ВОДІЇ</a>
                        <a href="standings.html" class="menu__link">ТУРНІРНА ТАБЛИЦЯ</a>
                        <a href="" class="menu__link">ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</a>
                    </div>
                </div>
                <div class="footer__policy"><span class="footer__text">This website is not associated in any way with the Formula 1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP,GRAND PRIX and related marks are trade marks of Formula One Licensing B.V. FOR EDUCATIONAL PURPOSES ONLY 
                </span></div>
            </div>
        </footer>
    </div>
    <script src="../../static/main/js/script.js"></script>
</body>
</html>