{% extends 'main/layout.html' %}

{% block content %}
{% load static %}
<main class="main">
    <div class="main__container">
        <h1 class="teams__heading">Команди</h1>
        <div class="team__block">
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/alfa__romeo.png" alt="alfa" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/Switzerland.svg" alt="swz" class="country">
                    <img src="../../static/main/img/cars/alfa.png" alt="alfac43" class="car">
                </div>
                <h2 class="team__cation">ALFA ROMEO RACING</h2>
                <h3 class="car__name">Alfa Romeo C43</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">24</div>
                        <div class="driver__list__name">Джоу Гуанью</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">77</div>
                        <div class="driver__list__name">Валтері Боттас</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/alpha_tauri.png" alt="alpha_tauri" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/italy.svg" alt="italy" class="country">
                    <img src="../../static/main/img/cars/AT04.png" alt="at04" class="car">
                </div>
                <h2 class="team__cation">ALPHATAURI</h2>
                <h3 class="car__name">AlphaTauri AT04</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">21</div>
                        <div class="driver__list__name">Нік Де Вріз</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">22</div>
                        <div class="driver__list__name">Юкі Цунода</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/alpine.png" alt="alpine" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/France.svg" alt="france" class="country">
                    <img src="../../static/main/img/cars/Alpine.png" alt="alpine" class="car">
                </div>
                <h2 class="team__cation">ALPINE</h2>
                <h3 class="car__name">Alpine A523</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">10</div>
                        <div class="driver__list__name">П’єр Гаслі</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">31</div>
                        <div class="driver__list__name">Естебан Окон</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/aston_martin.png" alt="aston_martin" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/GB.svg" alt="gb" class="country">
                    <img src="../../static/main/img/cars/aston.png" alt="aston" class="car">
                </div>
                <h2 class="team__cation">ASTON MARTIN</h2>
                <h3 class="car__name">Aston Martin AMR23</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">14</div>
                        <div class="driver__list__name">Фернандо Алонсо</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">18</div>
                        <div class="driver__list__name">Ленс Строл</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/ferrari.png" alt="ferrari" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/italy.svg" alt="italy" class="country">
                    <img src="../../static/main/img/cars/ferrari.png" alt="ferrari" class="car">
                </div>
                <h2 class="team__cation">FERRARI</h2>
                <h3 class="car__name">Ferrari SF-23</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">16</div>
                        <div class="driver__list__name">Шарль Леклер</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">55</div>
                        <div class="driver__list__name">Карлос Сайнс</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/hass.png" alt="haas" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/us.svg" alt="USA" class="country">
                    <img src="../../static/main/img/cars/haas.png" alt="Haas" class="car">
                </div>
                <h2 class="team__cation"></h2>
                <h3 class="car__name"></h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">20</div>
                        <div class="driver__list__name">Кевін магнусен</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">27</div>
                        <div class="driver__list__name">Ніко Хулькенберг</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/mclaren.png" alt="mclaren" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/GB.svg" alt="gb" class="country">
                    <img src="../../static/main/img/cars/mclaren.png" alt="mclaren" class="car">
                </div>
                <h2 class="team__cation">MCLAREN</h2>
                <h3 class="car__name">McLaren MCL60</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">4</div>
                        <div class="driver__list__name">Ландо Норріс</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">81</div>
                        <div class="driver__list__name">Оскар Піастрі</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/mercedes.png" alt="mercedes" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/Germany.svg" alt="Germany" class="country">
                    <img src="../../static/main/img/cars/mercedes.png" alt="mercedes" class="car">
                </div>
                <h2 class="team__cation">MERCEDES</h2>
                <h3 class="car__name">Mercedes W14</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">44</div>
                        <div class="driver__list__name">Льюіс Хемільтон</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">63</div>
                        <div class="driver__list__name">Джордж Рассел</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/red_bull.png" alt="red_bull" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/Austria.svg" alt="Austria" class="country">
                    <img src="../../static/main/img/cars/rb19.png" alt="rb19" class="car">
                </div>
                <h2 class="team__cation">RED BULL RACING</h2>
                <h3 class="car__name">Red Bull RB19</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">1</div>
                        <div class="driver__list__name">Макс Ферстаппен</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">11</div>
                        <div class="driver__list__name">Серхіо Перес</div>
                    </div>
                </div>
            </div>
            <div class="block__card">
                <img src="../../static/main/img/teams__logo/williams.png" alt="williams" class="card__logo">
                <div class="country__car">
                    <img src="../../static/main/img/flags/GB.svg" alt="gb" class="country">
                    <img src="../../static/main/img/cars/FW45.png" alt="FW45" class="car">
                </div>
                <h2 class="team__cation">WILLIAMS</h2>
                <h3 class="car__name">Williams FW45</h3>
                <div class="block__list">Водії:</div>
                <div class="drivers__list">
                    <div class="driver__list">
                        <div class="circle">2</div>
                        <div class="driver__list__name">Логан Саржент</div>
                    </div>
                    <div class="driver__list">
                        <div class="circle">23</div>
                        <div class="driver__list__name">Алекс Албон</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}